body{
    margin:0px;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(209, 209, 209);
    
}
h1{
  text-align: center;
  font-size: 40px;
}
h2{
   text-align: center; 
   font-weight: lighter;
   padding-top: 20px;
   margin: 35px;
}
p{
    font-size: 20px;
    text-indent: 0px;
    padding-top: 35px;
}
    
#alinhartexto{
         padding-left: 155px;
         padding-top: 35px;
         text-align: left;
}
img{
    width: 40%;
    height: 40%;
    margin: 2em;
}
.alinharaesquerda{
       float: left;
       display: flex;
       justify-content: left;
       padding-left:100px
}
.alinharadireita{
       float: right;
       display: flex;
       justify-content: right;
       padding-left: 50px;
}
.stopfloat{
       clear: both;
}
p::selection{
       color:  rgb(253, 190, 72);
}
h1::selection{
    color:  rgb(253, 190, 72);
}
h2::selection{
       color: rgb(75, 74, 74);
}
h3::selection{
    color: rgb(253, 190, 72);
}
:link{
    color: black;
}
:visited{
    color: black;
}
h2{
    color: black;
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding: 10px;  
    margin: 0px;
}
h3{
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
.alinharaocentro{
    text-align: center;
}